<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>Keep Awake</name>
        <version>1.0</version>
        <author>Ken</author>
        <id>keepawake</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
